<p id="notice"><%= notice %></p>

<%= react_component("List", props:{
    listId: @list.id,
    listItems: @list.list_items,
    events: @list.events.map(&:to_json),
    userSignedIn: !current_user.nil?,
  }) %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>