<form action="/search" method="post" class="form-inline">

  	<div class="form-group">
	  <label for="name">Name</label>
	  <input id="name" class="form-control" placeholder="Name" type="text" name="title"></input>

	  <label for="artist">Name</label>
	  <input id="artist" class="form-control" placeholder="Artist" type="text" name="artist"></input>
  	</div>

  	<div class="form-group">
  		<label for="year">Year</label>
		<select id="year" class="form-control" name="year">
			<option>2015</option>
			<option>2016</option>
			<option selected>2016</option>
		</select>
<!-- 	<div class="form-group">

	<div class="form"> -->
	  <label for="festival">Name</label>
	  <select id="festival" class="form-control" name="festival_string">
		<option value="" selected>all</option>
		<option>fringe</option>
		<option>demofringe</option>
		<option>jazz</option>
		<option>book</option>
		<option>international</option>
		<option>tattoo</option>
		<option>art</option>
		<option>hogmanay</option>
		<option>science</option>
		<option>imaginate</option>
		<option>film</option>
		<option>mela</option>
		<option>storytelling</option>
	  </select>
	 </div>
	  <input class="btn btn-default" type='submit' value="Submit">
  </div>

</form>











