<form action="/search" method="post">

  <label for="title">Name:</label>
  <input type="text" name="title"></input>

  <label for="artist">Artist:</label>
  <input type="text" name="artist"></input>

  <select name="year">
  	<option>2015</option>
  	<option>2016</option>
  	<option selected>2017</option>
  </select>

  <select name="festival_string">
	<option>fringe</option>
	<option selected>demofringe</option>
	<option>jazz</option>
	<option>book</option>
	<option>international</option>
	<option>tattoo</option>
	<option>art</option>
	<option>hogmanay</option>
	<option>science</option>
	<option>imaginate</option>
	<option>film</option>
	<option>mela</option>
	<option>storytelling</option>
  </select>

  <input type='submit' value="Submit">
  
</form>














