<form action=""></form>

id: integer,
address: string,
box_office_fringe: boolean,
box_office_opening: string,
cafe_description: string,
code: string,
email: string,
fax: string,
has_bar: boolean,
has_booking_over_card: boolean,
has_booking_over_phone: boolean,
has_booking_over_web: boolean,
has_cafe: boolean,
name: string,
phone: string,
lat: string,
lon: string,
post_code: string,
web_address: string,
created_at: datetime,
updated_at: datetime