<div class="container">
  <div class="row">
    <div id="image-div" class="col-xs-8 col-md-10" >
      <%= image_tag("cutout.png", :id => "footer-image") %>
    </div>
    <div class="col-xs-4 col-md-2" >
      <span id="disclaimer-text">     <span> 👉 data provided courtesy of the </span><a href="https://api.edinburghfestivalcity.com/"> Edinburgh Festivals Listings API</a>. This website is not an official festival application.</span>
    </div>
  </div>
</div>
