<div>
  <div role="toolbar" class="btn-toolbar">
    <div class="btn-group">
      <div class="btn-group">
        <button class="btn btn-default">👍</button>
        <button class="btn btn-default disabled">0</button>
        <button class="btn btn-default">👎</button>
      </div>
      
      <button class="btn btn-default">💙</button>
      <button class="btn btn-default" type="button">🗓️</button>
      <button class="btn btn-default" type="button" style="color: rgb(223, 31, 31);"><i class="glyphicon glyphicon-map-marker"></i></button>
      <button class="btn btn-default" type="button">💬</button>
    </div>
  </div>
  <div class="well well-sm collapse" id="well-content-box"></div>
</div>
