    <div class="btn-group pull-right" data-controller="list">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add to list
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" style="min-width: 300px;">
        <% current_user.lists.each do |list| %>
          <li>
            <a data-id="<%= list.id %>" data-action="list#click"><%= list.name %></a>
          </li>
        <% end %>
        <!-- <li role="separator" class="divider"></li> -->
        <!-- <li><a href="#">Separated link</a></li> -->
      </ul>
    </div>
