<table className='table table-condensed'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Loading...</td>
    </tr>
  </tbody>
</table>
