<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
    <tr>
      <td><input data-target="friend-requests.newFriendEmail" class="form-control"/> </td>
      <td><button data-action="friend-requests#addFriend" class="btn btn-default">Add</button></td>
    </tr>
    </table>
  </div>
</div>
