/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'https://fonts.googleapis.com/css?family=Roboto+Condensed|Rubik+Mono+One';

 /**= require font-awesome*/
 /**= require rails_bootstrap_forms*/
 /**= require bootstrap_and_overrides*/
 /**= require react-select*/

 * {
 	/*font-family: 'Roboto Condensed', sans-serif;*/
 	font-family:"Helvetica Neue";
  /*border: 0.5px solid #73AD21;*/
 }

 body {
 	background: #eaeaea;
 }

.panel-heading.favourite {
  background-color: #3277b3;
}


/*#top-navbar #collapsed {
	background-color: #428bca;
}
*/
/*#top-navbar > div > div.navbar-header > b > a {
  color: white
  }*/

  /*#top-navbar * {*/
   /*color: white;*/
   /*}*/

/*#top-navbar .active * {
	background-color: #285e8e;
	border-radius: 4px;
  }*/
/*
#top-navbar > div > div.navbar-header > button {
	background-color: #ddd;
}

#bs-example-navbar-collapse-1 > ul:nth-child(1) > li.active > a {
	background-color: #285e8e;
	border-radius: 4px;
}

#bs-example-navbar-collapse-1 #dropdown-menu {	
	background-color: white;
	color: black;
}


#bs-example-navbar-collapse-1 > ul:nth-child(2) > li > ul > li:nth-child(n) > a {
	background-color: white;
	color: black;
  }*/

#top-navbar > div > div.navbar-header > b > a {
  color: #428bca;
}
/*
#top-navbar * {
  color: #428bca;
}*/
/*
.navbar-default .navbar-toggle .icon-bar {
  background-color: #428bca;
}

.navbar-default .navbar-toggle {
  border-color: #428bca;
}*/


.loading {
  /*font-size: 10px;*/
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

.well-sm {
  margin-top: 8px;
}

#image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 300px;
    margin-bottom: -40px;

}

#footer-image {
  /*position: relative;*/
  flex-shrink: 0;
  /*min-width: 100%;*/
  /*min-height: 100%*/
  height: 100%;
  /*display: block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*border: 0.5px solid #73AD21;*/
 margin-bottom: -40px;
}

#disclaimer-text * {
  font-family:"Helvetica Neue";
  color: grey;
  bottom: 0px;
  position: relative;
  text-decoration: none;
}

#carousel-box {
  min-width: 120px;
  display: block;
}

#myCarousel {
  width: 100%;
  /*width: 150px;*/
  position: relative;
}

#button-bar {
  margin-top: 10px;
}

#event-card-description {
  margin-top: 10px;
}

#home-card {
  margin: 10px;
}

@media (max-width: 768px) {
  .home_card {
    margin-left: -25px;
    margin-right: -25px;
  }
  #footer-image {
    height: 100%;
    /*max-height: 200px;*/
  }
}

#layout-base {
  /*margin: 0px;*/
  /*border: 0px;*/
  padding: 0px;
  /*padding-left: -35px;*/
  /*width: 0px;*/
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.event-list-item {
  margin-right: 25vw;
}