/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed|Rubik+Mono+One';*/

 /**= require commontator/application*/
 /**= require font-awesome*/
 /**= require rails_bootstrap_forms*/
 /**= require bootstrap_and_overrides*/

 * {
 	/*font-family: 'Roboto Condensed', sans-serif;*/
 	font-family:"Helvetica Neue"
 }

 body {
 	background: #eaeaea;
 }

.panel-heading.favourite {
  background-color: #3277b3;
}


/*#top-navbar #collapsed {
	background-color: #428bca;
}
*/
/*#top-navbar > div > div.navbar-header > b > a {
  color: white
  }*/

  /*#top-navbar * {*/
   /*color: white;*/
   /*}*/

/*#top-navbar .active * {
	background-color: #285e8e;
	border-radius: 4px;
  }*/
/*
#top-navbar > div > div.navbar-header > button {
	background-color: #ddd;
}

#bs-example-navbar-collapse-1 > ul:nth-child(1) > li.active > a {
	background-color: #285e8e;
	border-radius: 4px;
}

#bs-example-navbar-collapse-1 #dropdown-menu {	
	background-color: white;
	color: black;
}


#bs-example-navbar-collapse-1 > ul:nth-child(2) > li > ul > li:nth-child(n) > a {
	background-color: white;
	color: black;
  }*/

#top-navbar > div > div.navbar-header > b > a {
  color: #428bca;
}
/*
#top-navbar * {
  color: #428bca;
}*/
/*
.navbar-default .navbar-toggle .icon-bar {
  background-color: #428bca;
}

.navbar-default .navbar-toggle {
  border-color: #428bca;
}*/

