<p>
  <strong>Hello <%= @resource.email %>!</strong>
</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<br>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), {class: "btn btn-primary", style: "  display: block; margin-left: auto; margin-right: auto; width: 40%;"} %></p> <br>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
