<div class="row">
<div class="col-md-8">
  <h4>Hey pal,</h4>
<p>
Someone has invited you to EdinFringe.co.uk - a website where you can
plan your Edinburgh Festival!
</p>
<button class="btn btn-primary center-block">
  Join here
</button>
</div>

<div class="col-md-4">
</div>
</div>
