<table class='table table-condensed'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @event.performances.each do |performance| %>
      <tr>
        <td><%= performance.start_time %></td>
        <td><%= performance.start_time %></td>
        <td><%= performance.end_time %></td>
      </tr>
      <% end %>
    </tr>
  </tbody>
</table>
