<h1>hello</h1>

<div data-controller="add-credential">
  <input type="text" name="email" id="webauthn_email" value="email">
  <input type="text" name="username" id="webauthn_username" value="username">
  <button data-action="click->add-credential#create">Register</button>
</div>