<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" role="group">
    <a class="btn btn-primary navbar-btn btn-sm">
      All
    </a>
    <a class="btn btn-primary navbar-btn btn-sm">
      Favourites
    </a>
  </div>

  <div class="btn-group" role="group">
    <a class="btn btn-primary navbar-btn btn-sm">
      2016
    </a>
    <a class="btn btn-primary navbar-btn btn-sm">
      2017
    </a>
    <a class="btn btn-primary navbar-btn btn-sm">
      2018
    </a>
  </div>

  <div class="pull-right" role="group">
        <span id="notice" class="navbar-text"><%= notice %></span>
        <span class="navbar-text"><%= alert %></span>
  </div>
</div>
